@model CustomerVoucherViewModel
<form asp-controller="CustomerVoucher" asp-action="Index" method="get">
    <p>

        Zoek op voucher code: <input type="text" asp-for="SearchQuery"/>
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vouchers.First().PurchasedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Vouchers.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Vouchers.First().Code)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Vouchers.First().EmailSent)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.Vouchers.First().ValidUntil)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in  Model.Vouchers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @if (item.EmailSent)
                {
                    <span class="voucher-status-dot-on"></span>
                }
                else
                {
                    <span class="voucher-status-dot-off"></span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidUntil)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
    }
    </tbody>
</table>