@using FindeyVouchers.Domain.EfModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0 minimum-scale=1.0" />

    <title>@ViewData["Title"] - Findey Vouchers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body>

    <style>
    </style>

    <div id="wrapper" class="toggled">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div class="collapse navbar-collapse show" id="navbarSupportedContent">
                    <ul class="sidebar-nav navbar-nav">

                        <li class="sidebar-brand">
                            <a class="closeSide" onclick="closeSide()" href="javascript:void(0)">x</a>

                            <a asp-area="" asp-controller="Home" asp-action="Index" class="item logo" style="width: 80%; float: left;">
                                Findey vouchers
                            </a>
                            
                            <a class="openSide" onclick="openSide()" href="javascript:void(0)" style="display: none">
                                &#9776;
                            </a>

                        </li>
                        <li class="side-bar-nav-list-item">
                            <a class="item border-line" asp-area="" asp-controller="MerchantVoucher" asp-action="Index">Mijn vouchers</a>
                        </li>
                        <li class="side-bar-nav-list-item">
                            <a class="item border-line" asp-area="" asp-controller="CustomerVoucher" asp-action="Index">Verkochte vouchers</a>
                        </li>
                        <li class="side-bar-nav-list-item">
                            <a class="item border-line" asp-area="" asp-controller="VoucherCategory" asp-action="Index">Categorieën</a>
                        </li>
                        <li class="side-bar-nav-list-item">
                            <a class="item border-line" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                        </li>
                        <li class="side-bar-nav-list-item">
                            <a class="item border-line" asp-area="" asp-controller="Widget" asp-action="Index">Button installeren</a>
                        </li>
                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                var company = UserManager.GetUserAsync(User).GetAwaiter().GetResult().CompanyName;
                                <li class="side-bar-nav-list-item">
                                    <a class="item border-line" href="https://@(company).findey.nl" target="_blank">Bekijk voucher-pagina</a>
                                </li>
                            }
                        }

                        <li>
                            <a class="item" id="logout-link">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                      asp-route-returnUrl="@Url.Page("/", new {area = ""})"
                                      method="post">

                                    <button style="margin-left: 20px;" type="submit" class="nav-link btn text-white logout">Log uit</button>

                                </form>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
        }
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid body">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <footer class="footer">
            <div class="container">
                <span class="text-muted">
                    &copy; 2020 - Findey Vouchers -
                    <a href='@Url.Content("~/files/ALGEMENE VOORWAARDEN - Merchant.pdf")'>Algemene voorwaarden </a> -
                    <a href='@Url.Content("~/files/PRIVACYVERKLARING - merchant.pdf")'>Privacy verklaring </a>
                </span>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let screen = window.matchMedia("(max-width: 600px)")
        let open = true;

        function openSide() {
            if ($(window).width() < 600) {
                $("#sidebar-wrapper").width("75%");
            } else {
                $("#sidebar-wrapper").width("250");
            }
            $(".closeSide").css("display", "block");
            $(".openSide").css("display", "none");
            $(".item").css("display", "block");
            open = true;
            opacity(screen);
        }

        function closeSide() {
            $("#sidebar-wrapper").width("50");
            $("#wrapper.toggled").css("padding-left", "10px");
            $("#wrapper.toggled").css("margin-left", "10px");
            $(".item").css("display", "none");
            $(".closeSide").css("display", "none");
            $(".openSide").css("display", "block");
            open = false;
            opacity(screen);
        }

        function opacity() {
            console.log("open", open);
            console.log("$(window).width() < 600", $(window).width() < 600)
            if ($(window).width() < 600 && open) { // If media query matches
                console.log("mathed");
                $("#wrapper.toggled #page-content-wrapper").css("opacity", ".1");
            } else {
                console.log("not mathed");
                $("#wrapper.toggled #page-content-wrapper").css("opacity", "1");
            }
        }

        opacity(screen)
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
